@model IEnumerable<ComicSystem.Models.ComicBook>

@{
    ViewData["Title"] = "Comic Books";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="@Url.Action("Create", "ComicBooks")" class="btn btn-primary">Create New ComicBook</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Author</td>
                <td>@item.Price</td>
                <td>
                    <a href="@Url.Action("Edit", "ComicBooks", new { id = item.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", "ComicBooks", new { id = item.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
